@model FirstMVC.Models.Warrior

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Warrior</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarriorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarriorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttackStrength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttackStrength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlockStrength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlockStrength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SquadId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SquadId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
