@model FirstMVC.Models.Squad

@{
    ViewBag.Title = "Details";
}

<h2>Squads Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SquadName):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SquadName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MasterCard):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MasterCard) $
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactionId):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactionId)
        </dd>
        <dt>Warriors of the squad:</dt>
        <dd>
            @foreach (var item in Model.Warriors)
            {
            <div>
                Name: @item.WarriorName; HP: @item.HP points; Price: @item.Price $;
            </div>                
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
