<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("MvcFirst", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @*<a href="Home/Index" title="Home page">
                        <img src=" https://flaticons.net/gd/makefg.php?i=icons/Wildlife/Camel.png&r=255&g=255&b=255" width="50" height="50">
                    </a>*@
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Index" title="Home page">
                            <img src=" https://flaticons.net/gd/makefg.php?i=icons/Wildlife/Camel.png&r=255&g=255&b=255" width="40" height="35">
                        </a>
                    </li>
                    <li>@Html.ActionLink("Rob cOrOvans", "Fight", "Warriors")</li>
                    <li>@Html.ActionLink("Warriors", "Index", "Warriors")</li>
                    <li>@Html.ActionLink("Squads", "Index", "Squads")</li>
                    <li>@Html.ActionLink("Factions", "Index", "Factions")</li>
                    <li>@Html.ActionLink("ConnectionInfo", "Info", "Warriors")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @*<li>@DateTime.Now.ToLongDateString()</li>*@
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My MvcFirst Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
